/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: rgb(114, 114, 114); }
p {
    color: white;
}
h1, h2, h3 {
    color: white;
}
.container {
    padding: 15px;
    margin: 10px;
}