img {
    max-width: 90%;
    max-height: 90%;
}
.grid-item {
    display: block;
    text-align: center;
    margin: auto;
    max-width: 100%;
    font-size: 1vw;
}
.grid-item-mobile {
    display: block;
    text-align: center;
    margin: auto;
    max-width: 100%;
    font-size: 2vw;
}