<mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile
        *ngFor="let product of page"
        [colspan]="1"
        [rowspan]="1">
        <div class="container grid-item">
            <div>
                <img src="{{product.image_url}}" alt="">
            </div>
            <div style="max-width: 100%; width: auto;">
                <a mat-button [routerLink]="['/products', product.id]">{{product.title}}</a>
            </div>
            <label for="amount">Amount</label><input #amount type="number" value="1">
            <button mat-button (click)="addToCart(product)">Add To Cart</button>
        </div>
    </mat-grid-tile>
</mat-grid-list>
<mat-paginator  [length]="length"
                [pageSize]="pageSize"
                [pageSizeOptions]="pageSizeOptions"
                (page)="pageUpdate($event)">
</mat-paginator>
<div class="buffer"></div>